Repository Unidata/netcdf-c, pull requests merged in 2020-01, with the labels that each got.

#1532 Adding rest of unit_tests to CMake build, but not running them on Windows
  CMakeLists.txt
  unit_test/CMakeLists.txt
Labels: area/build/cmake, area/tests

#1592 Correct a typo in travis.yml
  .travis.yml
  libhdf5/hdf5var.c
  nc_test/CMakeLists.txt
  nc_test/Makefile.am
Labels: area/tests

#1588 changed/removed references to jetstream remotetest instance.
  CMakeLists.txt
  debug/cf
  debug/cf.cmake
  docs/DAP4.md
  docs/byterange.dox
  docs/testserver.dox
Labels: area/DAP2, area/DAP4
