Repository Unidata/netcdf-c, pull requests merged in 2020-04, with the labels that each got.

#1686 Fix CMake logic for Testing MPI-based builds
  CMakeLists.txt
  RELEASE_NOTES.md
  config.h.cmake.in
  nc_test4/run_par_test.sh.in
Labels: area/build/cmake

#1695 Use proper CURLOPT values for VERIFYHOST and VERIFYPEER
  CMakeLists.txt
  NUG/DAP2.dox
  NUG/DAP4.dox
  RELEASE_NOTES.md
  config.h.cmake.in
  configure.ac
  libdap4/d4curlfunctions.c
  libdispatch/dauth.c
  oc2/occurlfunctions.c
Labels: area/DAP2, area/DAP4

#1702 Update H5Gget_objinfo and H5Dvlen_reclaim to newer HDF5 APIs
  h5_test/tst_h_dimscales2.c
  h5_test/tst_h_dimscales3.c
  h5_test/tst_h_dimscales4.c
  h5_test/tst_h_vl.c
  include/ncdimscale.h
  libhdf5/hdf5open.c
  libhdf5/nc4hdf.c
Labels: area/netcdf4

#1707 Correcting a formatting error for scalars when dumping with ncdump -f
  RELEASE_NOTES.md
  ncdump/vardata.c
Labels: area/utils
